.social {
    top: calc(60 / 1920 * 100vw);
    right: 0;
    width: calc(420 / 1920 * 100vw);
    height: calc(450 / 1920 * 100vw);
}

.file-upload-btn {
    height: 100%;
}

.file-upload-btn svg {
    margin-left: calc(10 / 1920 * 100vw);
}

.file-delete-btn {
    height: 100%;
    z-index: 100 !important;
}

.file-delete-btn svg {
    width: calc(30 / 1920 * 100vw);
    margin-left: calc(10 / 1920 * 100vw);
    right: 0 !important;
}

.brief-container {
    padding-top: calc(100 / 1920 * 100vw);
}

.brief-container .title-container {
    display: flex;
    align-items: center;
    padding-top: calc(100 / 1920 * 100vw);
    position: relative;
}

.brief-container .boxes {
    position: absolute;
    left: calc(100 / 1920 * 100vw);
    top: calc(110 / 1920 * 100vw);
    width: calc(120 / 1920 * 100vw);
    margin-right: calc(40 / 1920 * 100vw);
    z-index: 100;
    cursor: pointer;
}

.brief-container .boxes:hover .mini-box {
    margin-top: calc(-100 / 1920 * 100vw);
    animation: jumpDown .25s ease-in-out forwards .15s;
}

.brief-container .box {
    width: calc(120 / 1920 * 100vw);
    height: calc(120 / 1920 * 100vw);
    margin-bottom: calc(40 / 1920 * 100vw);
    z-index: 100;
    position: relative;
}

.brief-container .mini-box {
    display: block;
    width: calc(60 / 1920 * 100vw);
    margin-top: 0;
    height: calc(60 / 1920 * 100vw);
    margin-bottom: calc(20 / 1920 * 100vw);
    animation: jumpUp .25s ease-in-out forwards .15s;
}

.brief-container .mini-box:first-of-type {
    animation-delay: 0s;
}

.brief-container .boxes:hover .mini-box:last-of-type {
    animation-delay: 0s;
}

.brief-container .brief-title {
    font-size: calc(48 / 1920 * 100vw);
    margin-bottom: calc(20 / 1920 * 100vw);
}

.brief-container .title-text {
    display: block;
    width: calc(460 / 1920 * 100vw);
    line-height: 1.8;
}

.brief-container .brief-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(40 / 1920 * 100vw);
    padding-right: calc(420 / 1920 * 100vw);
}

.brief-container .separator {
    width: 100%;
    height: calc(5 / 1920 * 100vw);
    background: #000;
    margin-bottom: calc(5 / 1920 * 100vw);
}

.brief-container .separator span {
    width: calc(20 / 1920 * 100vw);
    height: calc(5 / 1920 * 100vw);
    display: block;
}

.brief-container .questions {
    flex: 0 0 39%;
    padding-right: calc(20 / 1920 * 100vw);
    margin-top: calc(60 / 1920 * 100vw);
}

.brief-container .questions .question {
   font-size: calc(24 / 1920 * 100vw);
}

.brief-container .form-items {
    flex: 0 0 61%;
    padding-left: calc(20 / 1920 * 100vw);
    margin-top: calc(60 / 1920 * 100vw);
}

.brief-container .form-items .item-container {
    width: 100%;
    height: calc(50 / 1920 * 100vw);
    border-bottom: calc(3 / 1920 * 100vw) solid #000;
    display: flex;
    align-items: center;
    position: relative;
}

.brief-container .form-items .checkmark-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.brief-container .form-items .checkmark-container input.hidden-item {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.brief-container .form-items .checkmark {
    display: block;
    top: 0;
    left: 0;
    height: calc(20 / 1920 * 100vw);
    width: calc(20 / 1920 * 100vw);
    border: calc(3 / 1920 * 100vw) solid #000;
    margin-right: calc(20 / 1920 * 100vw);
}

/*.brief-container .form-items .checkmark-container input.hidden-item:checked ~ .checkmark {*/
/*    !*background: #b29eca;*!*/
/*}*/

.brief-container .form-items .brief-input {
    flex: 0 0 50%;
    background: transparent;
    height: 100%;
    border: none;
    text-align: right;
}

.brief-container input:focus,
#slider-range span:focus,
.brief-container .notes:focus {
    outline: none;
}

.brief-container .form-items ::placeholder {
    color: #000;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.brief-container .form-items .notes {
    resize: none;
    background-color: transparent;
    border: none;
    background-attachment: local;
    background-image: repeating-linear-gradient(
        transparent,
        transparent calc(50 / 1920 * 100vw),
        #000 calc(50 / 1920 * 100vw),
        #000 calc(53 / 1920 * 100vw),
        transparent calc(50 / 1920 * 100vw));
    line-height: calc(52 / 1920 * 100vw);
    width: 100%;
    height: calc(160 / 1920 * 100vw);
}

.brief-container .form-items .file-label {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.brief-container .form-items .file-input {
    display: none;
}

.brief-container .form-items .go-btn {
    color: #000;
}

.brief-container .form-items .personal-info {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.brief-container .form-items .personal-info .brief-input{
    flex: 0 0 70%;
}

.brief-container .big-btn {
/*    width: 100%;*/
    height: calc(100 / 1920 * 100vw);
    margin-top: calc(100 / 1920 * 100vw);
    margin-left: 0;
/*    border: none;*/
/*    font-size: calc(48 / 1920 * 100vw);*/
    margin-bottom: calc(100 / 1920 * 100vw);
/*    transition: background-color .3s ease-in-out;*/
/*    position: relative;*/
/*    background: transparent;*/
}


/*.brief-container .big-btn:hover span {*/
/*    opacity: 0.7;*/
/*}*/

.brief-container .form-items .budget-items .item-container {
    border: none;
}

.brief-container .form-items .amount-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 calc(50% - 20 / 1920 * 100vw);
    height: calc(50 / 1920 * 100vw);
    border-bottom: calc(3 / 1920 * 100vw) solid black;
    cursor: pointer;
}

.brief-container .form-items .slider-container {
    position: relative;
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: calc(40 / 1920 * 100vw);
    margin-top: calc(-15 / 1920 * 100vw);
}


.brief-container .form-items #slider-range {
    height: calc(7 / 1920 * 100vw);
    border: none;
    background: #d4d4d4;
    display: block;
    flex: 0 0 100%;
    margin-top: calc(35 / 1920 * 100vw);
    margin-bottom: calc(20 / 1920 * 100vw);
}

.brief-container .form-items #slider-range span{
    width: calc(20 / 1920 * 100vw);
    height: calc(20 / 1920 * 100vw);
    background: #ececec;
    border: calc(3 / 1920 * 100vw) solid black;
    border-radius: 50%;
    margin-left: calc(-10 / 1920 * 100vw);
    position: absolute;
    top: calc(-8 / 1920 * 100vw);
    cursor: pointer;
}

/*#slider-range div {*/
/*    !*background: #b29eca;*!*/
/*}*/

.brief-container .form-items #amount, #amount1 {
    position: relative;
    background: transparent;
    border: none;
    text-align: right;
    width: 50%;
    padding: 0;
    height: 100%;
}

@keyframes jumpDown {
    0% {
        margin-top: calc(-100 / 1920 * 100vw);
    }

    100% {
        margin-top: 0;
    }
}

@keyframes jumpUp {
    0% {
        margin-top: 0;
    }

    100% {
        margin-top: calc(-100 / 1920 * 100vw)
    }
}
