#case-page .page-color {
    background: #000;
}

#case-page .page-color:hover {
    background-color: rgba(0, 0, 0, .7);
}

#case-page .big-btn {
    color: #fff;
    margin-bottom: calc(50 / 1920 * 100vw);
}

#case-page .big-btn:hover {
    color: #fff;
}

#case-page .big-btn svg {
    fill: #fff;
}

#case-page .case-btn {
    position: fixed;
    top: 50vh;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 200;
    cursor: pointer;
}

#case-page .case-btn a {
    display: none;
    width: calc(380 / 1920 * 100vw);
    height: 100vh;
    /*background: #ececec;*/
    position: absolute;
    top: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*animation: sss 1s linear forwards 1s;*/
}

#case-page .case-btn:hover {
    height: 100vh;
    top: 0;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#case-page .case-btn:hover a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


#case-page .case-btn .case-btn-text {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
}

#case-page .prev-case-btn {
    left: calc(60 / 1920 * 100vw);
}

#case-page .prev-case-btn a {
    left: calc(-60 / 1920 * 100vw);
}

#case-page .next-case-btn {
    right: calc(60 / 1920 * 100vw);
}

#case-page .next-case-btn a {
    right: calc(-60 / 1920 * 100vw);
}


#case-page .case-btn .case-name {
    display: block;
    font-size: calc(24 / 1920 * 100vw);
    margin-bottom: calc(5 / 1920 * 100vw);
    margin-top: calc(20 / 1920 * 100vw);
}

#case-page .case-btn .go-btn {
    position: static;
    display: inline-block;
    margin-top: calc(10 / 1920 * 100vw);
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

#case-page .case-btn .go-btn:hover {
    margin-right: 0;
    margin-left: 0;
}

#case-page .case-btn .case-img-container {
    width: calc(540 / 1920 * 100vw);
    height: calc(485 / 1920 * 100vw);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

#case-page .case-btn .case-img-container img {
    width: 100%;
    height: 100%;
}

#case-page .case-btn .case-text-container {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#case-page .prev-case-btn .case-text-container {
    text-align: right;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-animation: showRight .3s linear forwards .4s;
    animation: showRight .3s linear forwards .4s;
}

#case-page .next-case-btn .case-text-container {
    -webkit-animation: showLeft .3s linear forwards .4s;
    animation: showLeft .3s linear forwards .4s;
}

#case-page .case-btn .case-text {
    margin-top: calc(485 / 1920 * 100vw);
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    width: calc(260 / 1920 * 100vw);
}

#case-page .case-btn .case-text .go-btn svg {
    margin: 0;
    right: 0;
}

#case-page .next-case-btn .case-text .go-btn:hover svg {
    right: calc(-300 / 1920 * 100vw);
}

#case-page .prev-case-btn .case-text .go-btn:hover svg {
    right: calc(300 / 1920 * 100vw);
}

#case-page .prev-case-btn .case-img-container {
    -webkit-animation: fromLeft .3s linear forwards;
    animation: fromLeft .3s linear forwards;
}

#case-page .next-case-btn .case-img-container {
    -webkit-animation: fromRight .3s linear forwards;
    animation: fromRight .3s linear forwards;
}

@-webkit-keyframes fromLeft {
    0% {
        left: calc(-540 / 1920 * 100vw);
    }

    100% {
        left: 0;
    }
}

@keyframes fromLeft {
    0% {
        left: calc(-540 / 1920 * 100vw);
    }

    100% {
        left: 0;
    }
}

@-webkit-keyframes fromRight {
    0% {
        right: calc(-540 / 1920 * 100vw);
    }

    100% {
        right: 0;
    }
}

@keyframes fromRight {
    0% {
        right: calc(-540 / 1920 * 100vw);
    }

    100% {
        right: 0;
    }
}

@-webkit-keyframes showLeft {
    0% {
        max-width: 0;
    }

    100% {
        max-width: calc(380 / 1920 * 100vw);
        padding-left: calc(30 / 1920 * 100vw);
    }
}

@keyframes showLeft {
    0% {
        max-width: 0;
    }

    100% {
        max-width: calc(380 / 1920 * 100vw);
        padding-left: calc(30 / 1920 * 100vw);
    }
}

@-webkit-keyframes showRight {
    0% {
        max-width: 0;
        margin-left: calc(380 / 1920 * 100vw);
    }

    100% {
        max-width: calc(380 / 1920 * 100vw);
        padding-right: calc(30 / 1920 * 100vw);
        margin-left: 0;
    }
}

@keyframes showRight {
    0% {
        max-width: 0;
        margin-left: calc(380 / 1920 * 100vw);
    }

    100% {
        max-width: calc(380 / 1920 * 100vw);
        padding-right: calc(30 / 1920 * 100vw);
        margin-left: 0;
    }
}


#case-page .case-title {
    position: relative;
    height: 100vh;
}

#case-page .case-title .img-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#case-page .case-title .img-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#case-page .case-title .case-title-text {
    height: 100%;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#case-page .case-title .case-name h3 {
    font-size: calc(82 / 1920 * 100vw);
}

#case-page .case-content {
    margin-top: calc(100 / 1920 * 100vw);
}

#case-page .case-content .case-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#case-page .case-content .main-info {
    width: calc(320 / 1920 * 100vw);
    line-height: 1.8;
}

#case-page .case-content .case-info-item {
    margin-bottom: calc(15 / 1920 * 100vw);
}

#case-page .case-content .case-info-item span {
    display: block;
}

#case-page .case-content .case-item-name {
    font-size: calc(24 / 1920 * 100vw);
}

#case-page .case-content .case-info-text {
    line-height: 2.2;
    width: calc(760 / 1920 * 100vw);

}

#case-page .case-content .case-info .go-btn {
    margin-top: calc(20 / 1920 * 100vw);
}

#case-page .case-content .case-main-page {
    margin-top: calc(-170 / 1920 * 100vw);
    position: relative;
    z-index: -1;
}

#case-page .case-content .case-main-page img {
    width: calc(100% + 605 / 1920 * 100vw);
    margin-left: calc(-257 / 1920 * 100vw);
}

#case-page .case-content .case-description {
    margin-top: calc(120 / 1920 * 100vw);
    line-height: 1.8;
}

#case-page .case-content .case-description h6 {
    margin-top: calc(90 / 1920 * 100vw);
    margin-bottom: calc(40 / 1920 * 100vw);
}

#case-page .case-content .case-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: calc(100 / 1920 * 100vw);
    margin-bottom: calc(100 / 1920 * 100vw);
}

#case-page .case-content .case-img img {
    width: 100%;
}

#case-page .case-content .main-screen {
    margin-bottom: calc(-250 / 1920 * 100vw);
}

#case-page .case-content  .main-screen img {
    width: calc(100% + 385 / 1920 * 100vw);
    margin-left: calc(-17 / 1920 * 100vw);
}

#case-page .case-content .case-connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#case-page .case-content  .case-call-popup {
    width: calc(1055 / 1920 * 100vw);
    padding-left: calc(305 / 1920 * 100vw);
    height: calc(480 / 1920 * 100vw);
    margin-right: calc(-90 / 1920 * 100vw);
}

#case-page .case-content  .case-call-popup img {
    width: 100%;
}

#case-page .case-content  .case-popup-text {
    width: calc(420 / 1920 * 100vw);
    line-height: 1.9;
}

#case-page .case-content  .case-popup-text span {
    font-size: calc(24 / 1920 * 100vw);
}

#case-page .case-content .case-mobile-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: calc(100 / 1920 * 100vw);
    margin-bottom: calc(80 / 1920 * 100vw);
}

#case-page .case-content .case-mobile-img {
    width: calc(375 / 1920 * 100vw);
    height: calc(670 / 1920 * 100vw);
}

#case-page .case-content .case-mobile-img img {
    height: calc(100% + 55 / 1920 * 100vw);
    width: 100%;
}

#case-page .case-content .case-mobile-img:first-of-type img {
    margin-left: calc(-227 / 1920 * 100vw);
    height: calc(100% + 43 / 1920 * 100vw);
    width: calc(100% + 227 / 1920 * 100vw);
}

#case-page .case-content .design-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 0;
}

#case-page .case-content .design-items div {
    width: calc(640 / 1920 * 100vw);
}

#case-page .case-content .design-items img {
    width: 100%;
    margin-top: calc(90 / 1920 * 100vw);
}
