.main-header .sections {
    color: #000;
}

.main-header .menu-btn__bar {
    background: #000;
}

.main-header {
    position: absolute;
}

body {
    /*background: #ececec;*/
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.page-title {
    /*height: 100vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-title .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: calc(-80 / 1920 * 100vw);
    width: calc(720 / 1920 * 100vw);
    height: calc(440 / 1920 * 100vw);

}

.page-title .title-container h2 {
    font-size: calc(200 / 1920 * 100vw);
    margin: 0;
    color: #000;

    /*position: absolute;*/
}

.page-title .title-container img {
    width: calc(520 / 1920 * 100vw);
    position: absolute;
    z-index: -1;
    top: calc(-15 / 1920 * 100vw);
}

.page-title .brief-btn {
    position: absolute;
    top: calc(200 / 1920 * 100vw);
    right: calc(100 / 1920 * 100vw);
}

.page-title .brief-btn span {
    width: calc(120 / 1920 * 100vw);
    height: calc(120 / 1920 * 100vw);
    background: #ff6767;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(24 / 1920 * 100vw);
}

.page-title .brief-btn img {
    width: calc(32 / 1920 * 100vw);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(-22 / 1920 * 100vw);
}

.page-content {
    padding-top: 0;
    position: relative;
    height: 100%;
    margin-bottom: calc(45 / 1920 * 100vw);
}

.page-content .left-title {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg) translate(-100%, 100%);
    transform-origin: left top;
}

.page-content .left-title h4 {
    margin: 0;
    font-size: calc(82 / 1920 * 100vw);
    line-height: 1.1;
}

.page-content .page-info {
    padding-left: calc(480 / 1920 * 100vw);
    padding-right: calc((680 / 1920 * 100vw) - (100vw - 100%));
}

.page-content .page-info {
    padding-left: calc(480 / 1920 * 100vw);
    padding-right: calc((680 / 1920 * 100vw) - (100vw - 100%));
    line-height: 1.8;
}

.page-content .page-info + .go-btn {
    padding-left: calc(480 / 1920 * 100vw);
    position: static;
    font-size: calc(24 / 1920 * 100vw);
    margin-top: calc(35 / 1920 * 100vw);
}

.page-content .page-info + .go-btn img {
    width: calc(32 / 1920 * 100vw);
    margin-left: calc(30 / 1920 * 100vw);
}

.page-content .title {
    font-size: calc(82 / 1920 * 100vw);
    padding-left: calc(480 / 1920 * 100vw);
    /*margin-top: calc(150 / 1920 * 100vw);*/
    margin-bottom: 0;
}

.page-content .plan-carousel-container {
    margin-top: calc(150 / 1920 * 100vw);
}

.page-content .plan-carousel {
    margin-top: calc(40 / 1920 * 100vw);
    margin-left: calc(-100 / 1920 * 100vw);
    width: 100vw;
}

.page-content .plan-carousel .item {
    /*left: calc(420 / 1920 * 100vw);*/
    /*position: relative;*/
    /*margin-left: calc(420 / 1920 * 100vw);*/
}

.page-content .plan-carousel .owl-item {
    left: calc(420 / 1920 * 100vw);
    position: relative;
    /*margin-left: calc(420 / 1920 * 100vw);*/
}

.page-content .plan-carousel .cloned {
    opacity: 0;
    /*left: calc(0 / 1920 * 100vw);*/
    /*position: static;*/
    /*overflow: hidden;*/
    /*margin-left: calc(420 / 1920 * 100vw);*/
}

.page-content .plan-carousel .item-content {
    padding-left: calc(160 / 1920 * 100vw);
    margin-top: calc(50 / 1920 * 100vw);
    width: calc(590 / 1920 * 100vw);
    line-height: 1.6;
}

.page-content .plan-carousel .item-content .item-text {
    opacity: .5;
    margin-top: calc(10 / 1920 * 100vw);
}

.page-content .result {
    margin-top: calc(150 / 1920 * 100vw);
}

.page-content .result .result-items {
    padding-left: calc(480 / 1920 * 100vw);
    padding-right: calc((680 / 1920 * 100vw) - (100vw - 100%));
    /*margin-top: calc(35 / 1920 * 100vw);*/
}

.page-content .result .result-item {
    counter-increment: item-counter;
    margin-top: calc(35 / 1920 * 100vw);
}

.page-content .result .result-item::before {
    content: counter(item-counter, upper-roman);
    font-size: calc(82 / 1920 * 100vw);
    color: #ff6767;
    float: left;
    height: calc(60 / 1920 * 100vw);
    line-height: 0.9;
    margin-right: calc(10 / 1920 * 100vw);
}

.page-content .result .result-name {
    font-size: calc(24 / 1920 * 100vw);
    display: block;
    margin-bottom: calc(7 / 1920 * 100vw);
}

.page-content .result .result-text {
    opacity: .5;
    line-height: 1.8;
}

.page-content .special-form-container {
    margin-top: calc(100 / 1920 * 100vw);
    padding-left: calc(150 / 1920 * 100vw);
    padding-right: calc((350 / 1920 * 100vw) - (100vw - 100%));
}

.page-content .special-form-container .title {
    padding-left: 0;
    margin-top: calc(10 / 1920 * 100vw);
    margin-bottom: calc(80 / 1920 * 100vw);
    line-height: 1;
}

.page-content .special-form {
    font-size: calc(24 / 1920 * 100vw);
    line-height: 3;
}

.page-content .special-form-item {
    width: calc(350 / 1920 * 100vw);
    height: calc(40 / 1920 * 100vw);
    background: #000;
    color: #fff;
    border: none;
    padding-left: calc(10 / 1920 * 100vw);
    margin-left: calc(10 / 1920 * 100vw);
    margin-right: calc(5 / 1920 * 100vw);
}

.page-content select.special-form-item {
    width: calc(400 / 1920 * 100vw);
}

.page-content .project-info {
    width: calc(1280 / 1920 * 100vw);
}

.page-content .special-form-item::placeholder {
    color: #fff;
}

.page-content .special-form .go-btn {
    width: 100vw;
    height: calc(150 / 1920 * 100vw);
    background: #ff6767;
    margin-left: calc(-250 / 1920 * 100vw);
    font-size: calc(48 / 1920 * 100vw);
    /*padding: 0;*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    margin-top: calc(90 / 1920 * 100vw);
}

.page-content .special-form .go-btn img {
    margin-left: calc(40 / 1920 * 100vw);

}

.page-content .cases {
    margin-top: calc(190 / 1920 * 100vw);
    position: relative;
}

.page-content .cases .title {
    padding-left: calc(160 / 1920 * 100vw);
}

.page-content .cases-carousel {
    width: calc(1440 / 1920 * 100vw);
    position: static;
}

.page-content .cases-carousel {
    width: calc(1440 / 1920 * 100vw);
    /*width: 100%;*/
    /*margin-right: calc(-280 / 1920 * 100vw);*/
    margin-top: calc(30 / 1920 * 100vw);
}

.page-content .cases-carousel .owl-item {
    margin-left: calc(-0.1 / 1920 * 100vw);
}

.page-content .cases-carousel .owl-nav {
    position: absolute;
    display: flex;
    width: calc(120 / 1920 * 100vw);
    /*margin-left: calc(160 / 1920 * 100vw);*/
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row-reverse;
    right: 0;
    bottom: 0;
}

.page-content .cases-carousel .arrow-right,
.page-content .cases-carousel .arrow-left {
    margin-bottom: calc(-10 / 1920 * 100vw);
}

.main-footer {
    width: 100%;
    height: calc(120 / 1920 * 100vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
}

.main-footer .footer-contacts {
    display: flex;
    justify-content: space-between;
    width: calc(400 / 1920 * 100vw);
}

.main-footer .footer-social {
    display: flex;
    justify-content: space-between;
    width: calc(285 / 1920 * 100vw);
}
