.main-header .sections {
    color: #fff;
}

.main-header .menu-btn__bar {
    background: #fff;
}

.main-header {
    position: fixed;
}

#slider-section .section-header {
    width: 100%;
    background: rgb(44, 44, 44);
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#slider-section .slider {
    height: 100%;
    background-color: rgb(236, 236, 236);
    position: relative;
    top: auto;
    z-index: 1;
}

#slider-section .slides {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#slider-section .slide {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

#slider-section .slide-title {
    font-size: calc(200 / 1920 * 100vw);
    color: #000;
    position: absolute;
    left: calc(112 / 1920 * 100vw);
    top: calc(50% - (170 / 1920 * 100vw));
    z-index: 2;
    display: block;
    width: 0;
    transition: width .8s ease-in-out;
    transition-delay: .8s;
    overflow: hidden;
    height: calc(390 / 1920 * 100vw);
}

#slider-section .slide-title:before,
#slider-section .slide-title:after {
    content: "";
    background: rgb(0, 0, 0);
    width: calc(175 / 1920 * 100vw);
    height: calc(3 / 1920 * 100vw);
    position: absolute;
    bottom: calc(25 / 1920 * 100vw);
    left: calc(157 / 1920 * 100vw);
    transition: left .5s linear;
    transition-delay: 1.2s;
}

#slider-section .slide-title:after {
    bottom: calc(60 / 1920 * 100vw);
    left: calc(7 / 1920 * 100vw);
    width: calc(390 / 1920 * 100vw);
}

#slider-section .title-design {
    left: calc(120 / 1920 * 100vw);
}

#slider-section .title-design:before {
    margin-left: calc(-7 / 1920 * 100vw);
}

#slider-section .title-design:after {
    width: calc(185 / 1920 * 100vw);
    margin-left: calc(-7 / 1920 * 100vw);
}

#slider-section .title-promotion:after {
    width: calc(325 / 1920 * 100vw);
}

#slider-section .slide-image {
    width: 100%;
    display: inline-block;
    height: 100%;
    position: relative;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    transition-delay: .3s;
}

#slider-section .slide-image img {
    display: inline-block;
    z-index: 0;
    width: 50.5%;
    float: right;
    height: 100%;
    object-fit: contain;
    margin-right: calc(-10 / 1920 * 100vw);
}

#slider-section .slide-image img[src*="tiger"] {
    width: 63%;
    margin-right: calc(-90 / 1920 * 100vw);
    margin-top: calc(30 / 1920 * 100vw);
}

#slider-section .slide-image img[src*="elephant"] {
    width: 65.5%;
    margin-right: calc(-25 / 1920 * 100vw);
    margin-top: calc(25 / 1920 * 100vw);
}


#slider-section .slide-text {
    font-size: calc(30 / 1920 * 100vw);
    color: #000;
    position: absolute;
    left: calc(120 / 1920 * 100vw);
    top: calc(50% - calc(170 / 1920 * 100vw));
    z-index: 2;
    opacity: 0;
    transition: opacity .8s ease-in-out;
    transition-delay: .8s;
}

#slider-section .slogan {
    display: inline-block;
}

#slider-section .line1 {
    background: #000;
    width: calc(3 / 1920 * 100vw);
    height: calc(3 / 1920 * 100vw);
    margin-left: calc(7 / 1920 * 100vw);
    margin-right: 0;
    transition-property: width, margin-right;
    transition-duration: .8s;
    transition-timing-function: ease-in-out;
    transition-delay: 1.2s;
}

#slider-section .arrow-left {
    top: calc(95 / 1920 * 100vw);
    left: calc(120 / 1920 * 100vw);
    position: absolute;
}

#slider-section .arrow-right {
    top: calc(95 / 1920 * 100vw);
    left: calc(195 / 1920 * 100vw);
    position: absolute;
}

#slider-section .slide-number {
    width: calc(120 / 1920 * 100vw);
    height: calc(120 / 1920 * 100vw);
    position: absolute;
    background: #000;
    color: #fff;
    top: calc(50 / 1920 * 100vw);
    left: calc(-60 / 1920 * 100vw);
    font-size: calc(60 / 1920 * 100vw);
    text-align: center;
    z-index: 200;
}

#slider-section .slide-number span {
    display: inline-block;
    line-height: calc(120 / 1920 * 100vw);
    opacity: 0;
}

#slider-section .static-line1 {
    position: absolute;
    top: calc(313 / 1920 * 100vw);
    left: calc(60 / 1920 * 100vw);
    width: calc(2 / 1920 * 100vw);
    bottom: calc(50 / 1920 * 100vw);
    background: #fff;
    z-index: 100;
}

#slider-section .static-line2 {
    position: absolute;
    top: calc(285 / 1920 * 100vw);
    right: calc(55 / 1920 * 100vw);
    width: calc(2 / 1920 * 100vw);
    bottom: calc(175 / 1920 * 100vw);
    height: calc(70 / 1920 * 100vw);
    background: #fff;
    z-index: 100;
}

#slider-section .slide-info {
    position: absolute;
    font-size: calc(16 / 1920 * 100vw);
    bottom: 24%;
    right: calc(45 / 1920 * 100vw);

    /*animation: showw .9s linear forwards;*/
}

.show-slide-number {
    animation: showNumber 1s linear forwards;
}

@keyframes showNumber {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#slider-section .slide-info__name {
    display: block;
    writing-mode: vertical-rl;
    opacity: 0;
}

#slider-section .slide-info__line {
    width: calc(20 / 1920 * 100vw);
    height: calc(3 / 1920 * 100vw);
    background: #000;
    margin: calc(40 / 1920 * 100vw) 0;
}

#slider-section .slide-info__number {
    writing-mode: horizontal-tb;
    display: block;
    opacity: 0;
}

#about-section {
    position: relative;
    padding-right: 0;
}

#about-section .section-title,
#contacts-section .section-title {
    margin-left: calc(-12 / 1920 * 100vw);
}

#about-section .text-decor {
    margin-top: calc(30 / 1920 * 100vw);
    vertical-align: top;
}

#about-section .about-text {
    font-size: calc(16 / 1920 * 100vw);
    display: inline-block;
    width: 48%;
    line-height: 2.5;
    margin-top: calc(10 / 1920 * 100vw);
    margin-left: calc(10 / 1920 * 100vw);
}

#about-section .icons-container {
    margin-top: calc(110 / 1920 * 100vw);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#about-section .icon {
    display: block;
    max-width: 33.333%;
    flex: 0 0 33.333%;
    position: relative;
}

#about-section .icon img {
    width: calc(210 / 1920 * 100vw);
    z-index: 10;
    position: relative;
}

#about-section .icon svg {
    height: calc(250 / 1920 * 100vw);
    position: absolute;
    top: calc(12 / 1920 * 100vw);
    left: calc(50 / 1920 * 100vw);
}

#about-section .icon .polygon {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}


#about-section .icon div {
    display: inline-block;
    vertical-align: top;
    background: rgb(236, 236, 236);
    margin-top: calc(60 / 1920 * 100vw);
    margin-left: calc(35 / 1920 * 100vw);
    z-index: 10;
    position: relative;
}

#about-section .icon h3 {
    font-size: calc(24 / 1920 * 100vw);
    margin-bottom: calc(15 / 1920 * 100vw);
}

#about-section .icon ul {
    list-style: none;
    margin-bottom: 0;
    margin-left: calc(-15 / 1920 * 100vw);;
}

#about-section .icon li {
    font-size: calc(16 / 1920 * 100vw);
    position: relative;
    line-height: 1.5;
    max-width: 0;
    opacity: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    height: calc(20 / 1920 * 100vw);
    padding-left: calc(15 / 1920 * 100vw);
}

#about-section .icon li::before {
    content: "";
    background: #b4c85a;
    display: inline-block;
    position: absolute;
    top: calc(50% - 2.5 / 1920 * 100vw);
    width: calc(5 / 1920 * 100vw);
    height: calc(5 / 1920 * 100vw);
    border-radius: 50%;
    left: calc(0 / 1920 * 100vw);
}

#about-section .icon li:nth-child(1) {
    /*animation-delay: .2s;*/
}

#about-section .icon li:nth-child(2) {
    animation-delay: .4s;
}

#about-section .icon li:nth-child(3) {
    animation-delay: .8s;
}

#portfolio-section {
    overflow: hidden;
    display: flex;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    justify-content: space-between;
}

#portfolio-section .img-container {
    margin-top: calc(20 / 1920 * 100vw);
    width: calc((960 / 1920 * 100vw) - (100vw - 100%));
    height: calc(860 / 1920 * 100vw);
    position: relative;
    overflow: hidden;
 }

#portfolio-section .img-container img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: calc(-120 / 1920 * 100vw);
    left: -50vw;
}

/*Show case*/
/*#portfolio-section .img-container:hover {*/
/*    position: static;*/
/*}*/

/*#portfolio-section .img-container:hover img {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

#portfolio-section .text-decor {
    margin-top: calc(80 / 1920 * 100vw);
}

#portfolio-section .mini-title {
    display: inline-block;
    margin-top: calc(90 / 1920 * 100vw);
    margin-left: calc(20 / 1920 * 100vw);
    font-size: calc(24 / 1920 * 100vw);
}

#portfolio-section .technologies {
    margin-top: calc(40 / 1920 * 100vw);
    margin-left: calc(120 / 1920 * 100vw);
    font-size: calc(16 / 1920 * 100vw);
    cursor: default;
    transition: opacity 1s linear;
}

#portfolio-section .technologies span {
    opacity: 1;
    transition: opacity .1s linear;
}

#portfolio-section .technologies span:hover{
    opacity: 0.5;
}

#portfolio-section .portfolio-title {
    margin-top: calc(75 / 1920 * 100vw);
    margin-left: calc(120 / 1920 * 100vw);
    font-size: calc(82 / 1920 * 100vw);
}

#portfolio-section .description {
    padding-left: calc(100 / 1920 * 100vw);
}

#portfolio-section .description-text {
    margin-top: calc(40 / 1920 * 100vw);
    margin-left: calc(120 / 1920 * 100vw);
    font-size: calc(24 / 1920 * 100vw);
    width: calc(400 / 1920 * 100vw);
    line-height: 1.5;
}

#portfolio-section .go-btn {
    position: absolute;
    bottom: calc(100 / 1920 * 100vw);
    left: calc(220 / 1920 * 100vw);
    right: auto;
}

#portfolio-section .portfolio-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: calc(24 / 1920 * 100vw);
    line-height: 2.8;
    justify-content: center;
    height: calc(860 / 1920 * 100vw);
    right: calc(60 / 1920 * 100vw);
    top: calc(120 / 1920 * 100vw);
    text-transform: uppercase;
}

#portfolio-section .portfolio-nav a {
    position: relative;
    text-align: right;
    white-space: nowrap;
}

#portfolio-section .portfolio-nav-item {
    display: inline-flex;
    align-items: center;
    width: 0;
    overflow: hidden;
    transition: max-width 0.3s linear, width 0.3s linear;
    white-space: nowrap;
}

#portfolio-section .portfolio-nav a:hover .portfolio-nav-item {
    width: 100%;
}

#portfolio-section .portfolio-nav a.active:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
    width: calc(55 / 1920 * 100vw);
    height: calc(3 / 1920 * 100vw);
    right: calc(-60 / 1920 * 100vw);
}

#team-section {
    position: relative;
}

#team-section .team-carousel {
    width: calc(1120 / 1920 * 100vw);
    margin-top: calc(90 / 1920 * 100vw);
}

#team-section .team-carousel .owl-nav {
    position: absolute;
    display: flex;
    width: calc(120 / 1920 * 100vw);
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row-reverse;
    right: calc(-280 / 1920 * 100vw);
    bottom: 0;
}

#team-section .team-carousel .arrow-right,
#team-section .team-carousel .arrow-left {
    margin-bottom: calc(-10 / 1920 * 100vw);
}

#team-section .person {
    position: relative;
}

#team-section .active ~ .active .person {
    margin-left: calc(80 / 1920 * 100vw);
}

#team-section .person-info {
    position: absolute;
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transform: rotate(270deg) translate(calc(-100%));
    transform-origin: left top;
    height: calc(70 / 1920 * 100vw);
    width: calc(360 / 1920 * 100vw);
}

#team-section .person-info .name {
    font-size: calc(24 / 1920 * 100vw);
}

#team-section .person-info .job {
    font-size: calc(16 / 1920 * 100vw);
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
    top: calc(-5 / 1920 * 100vw);
    position: relative;
}

#team-section .person-info__decor {
    height: calc(3 / 1920 * 100vw);
    flex-basis: 0;
    flex-grow: 1;
    max-width: 0;
    margin: 0 calc(10 / 1920 * 100vw);
    background: #b4c85a;
}

#team-section .photo {
    width: calc(360 / 1920 * 100vw);
    height: calc(360 / 1920 * 100vw);
    align-self: flex-end;
    position: relative;
    margin-left: calc(120 / 1920 * 100vw);
    overflow: hidden;
    border: calc(3 / 1920 * 100vw) solid #000;
}

#team-section .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

#team-section .photo .show-eyes {
    position: absolute;
    width: calc(280 / 1920 * 100vw);;
    height: calc(90 / 1920 * 100vw);
    background: #000;
    right: 0;
    top: calc(90 / 1920 * 100vw);
    color: #fff;
    padding-left: calc(20 / 1920 * 100vw);
    cursor: pointer;
    transition: right 0.5s linear;
}

#team-section .photo:hover .show-eyes {
    right: calc(-280 / 1920 * 100vw);
}

#team-section .photo .show-eyes span {
    font-size: calc(16 / 1920 * 100vw);;
    display: inline-block;
    margin: 12% auto;
    color: inherit;
}

#contacts-section {
    position: relative;
}

#contacts-section .section-title{
    margin-left: calc(-12 / 1920 * 100vw);
}

#contacts-section .contacts-content {
    width: calc(860 / 1920 * 100vw);
    font-size: calc(24 / 1920 * 100vw);
}

#contacts-section.current-item .text-decor {
    animation: drawSmallLine .4s linear forwards;
}

#contacts-section .mini-title {
    display: inline-block;
    margin-left: calc(35 / 1920 * 100vw);
}

#contacts-section .contacts-info {
    display: flex;
    justify-content: space-between;
    padding-left: calc(120 / 1920 * 100vw);
    width: 100%;
    margin-top: calc(90 / 1920 * 100vw);
    margin-bottom: calc(140 / 1920 * 100vw);
    line-height: 1.8;
}

#contacts-section .contacts-info a {
    transition: color .1s linear;
}

#contacts-section .contacts-info a:hover {
    color: #b4c85a;
}

#contacts-section .form-data {
    margin-top: calc(25 / 1920 * 100vw);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#contacts-section .input-container {
    width: 50%;
    margin-bottom: 0;
}

#contacts-section .input-container:last-of-type {
    width: 100%;
    margin-top: calc(45 / 1920 * 100vw);
}

#contacts-section .social {
    height: 100vh;
    padding: calc(315 / 1920 * 100vw) 0;
}

.hide-element-left {
    animation: go-left .8s linear forwards !important;
}

.hide-element-right {
    animation: go-right .8s linear forwards !important;
}

.show-next-element {
    animation: from-right .8s linear forwards !important;
}

.show-prev-element {
    animation: from-left .8s linear forwards !important;
}

.show-next-element .slide-image,
.show-next-element .slide-text,
.show-prev-element .slide-image,
.show-prev-element .slide-text {
    opacity: 1 !important;
}

.show-next-element .slide-title,
.show-prev-element .slide-title {
    width: 100% !important;
}

.show-next-element .line1,
.show-prev-element .line1 {
    width: calc(50 / 1920 * 100vw) !important;
    margin-right: calc(20 / 1920 * 100vw) !important;
}

.show-next-element .slide-title:before,
.show-prev-element .slide-title:before {
    left: calc(7 / 1920 * 100vw) !important;
}

.show-next-element .slide-title:after,
.show-prev-element .slide-title:after {
    left: calc(157 / 1920 * 100vw) !important;
}

.disable-animation {
    right: 0 !important;
    animation: none !important;
}

.disable-animation .slide-image,
.disable-animation .slide-title,
.disable-animation .slide-text {
    transition: none !important;
}

@keyframes from-left {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes from-right {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}

@keyframes go-left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes go-right {
    from {
        right: 0;
    }
    to {
        right: -100%;
    }
}

@keyframes drawPolygon {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes drawSmallLine {
    from {
        width: calc(3 / 1920 * 100vw);
    }
    to {
        width: calc(80 / 1920 * 100vw);
    }
}

