#design-page .page-color {
    background: #ff6767;
}

#design-page .page-color:not(.brief-btn):hover {
    background-color: rgba(255, 103, 103, .7);
}

#design-page .page-color::before {
    color: #ff6767 !important;
}

#development-page .page-color {
    background: #00b5ff;
}

#development-page .page-color:not(.brief-btn):hover {
    background-color: rgba(0, 181, 255, .7);
}

#development-page .page-color::before {
    color: #00b5ff !important;
}

#promotion-page .page-color {
    background: #b4c85a;
}

#promotion-page .page-color:not(.brief-btn):hover {
    background-color: rgba(180, 200, 90, .7);
}

#promotion-page .page-color::before {
    color: #b4c85a !important;
}

#promotion-page .page-content .result-items {
    width: calc(100% + 255 / 1920 * 100vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#promotion-page .page-content .result-item {
    padding-right: calc(20 / 1920 * 100vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

#promotion-page .page-content .result-item:before {
    height: calc(70 / 1920 * 100vw);
}

#promotion-page .page-content .result-name {
    font-size: calc(16 / 1920 * 100vw);
    margin-bottom: calc(3 / 1920 * 100vw);
}

#promotion-page .page-content .left-title {
    -webkit-transform: rotate(-90deg) translate(-100%, 50%);
    -ms-transform: rotate(-90deg) translate(-100%, 50%);
    transform: rotate(-90deg) translate(-100%, 50%);
}
