.main-header .sections {
    color: #000;
}

.main-header .menu-btn__bar {
    background: #000;
}

label {
    margin: 0;
}

.brief-container {
    margin-top: calc(100 / 1920 * 100vw);
}

.brief-container .title-container {
    /*width: 35%;*/
    display: flex;
    align-items: center;
}

.brief-container .cube {
    width: calc(120 / 1920 * 100vw);
    height: calc(120 / 1920 * 100vw);
    margin-right: calc(40 / 1920 * 100vw);
}

.brief-container .title {
    /*width: calc(500 / 1920 * 100vw);*/
    font-size: calc(48 / 1920 * 100vw);
    margin-bottom: calc(20 / 1920 * 100vw);
}

.brief-container .title-text {
    display: block;
    width: calc(460 / 1920 * 100vw);
    line-height: 1.8;
}

.brief-container .brief-form {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(40 / 1920 * 100vw);
    padding-left: calc(160 / 1920 * 100vw);
    padding-right: calc(320 / 1920 * 100vw);
}

.brief-container .separator {
    width: 100%;
    height: calc(5 / 1920 * 100vw);
    background: #000;
    margin-bottom: calc(5 / 1920 * 100vw);
}

.brief-container .separator span {
    width: calc(20 / 1920 * 100vw);
    height: calc(5 / 1920 * 100vw);
    display: block;
}

.brief-container .questions {
    flex: 0 0 37%;
    padding-right: calc(20 / 1920 * 100vw);
    margin-top: calc(60 / 1920 * 100vw);
}

.brief-container .questions .question {
   font-size: calc(24 / 1920 * 100vw);
    /*margin-top: calc(10 / 1920 * 100vw);*/
}

.brief-container .form-items {
    flex: 0 0 63%;
    padding-left: calc(20 / 1920 * 100vw);
    margin-top: calc(60 / 1920 * 100vw);
}

.brief-container .form-items .item-container {
    width: 100%;
    height: calc(50 / 1920 * 100vw);
    border-bottom: calc(3 / 1920 * 100vw) solid #000;
    display: flex;
    align-items: center;
    position: relative;
}

.brief-container .form-items .checkmark-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.brief-container .form-items .checkmark-container input.hidden-item {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.brief-container .form-items .checkmark {
    display: block;
    top: 0;
    left: 0;
    height: calc(20 / 1920 * 100vw);
    width: calc(20 / 1920 * 100vw);
    border: calc(3 / 1920 * 100vw) solid #000;
    margin-right: calc(20 / 1920 * 100vw);
}

.brief-container .form-items .checkmark-container input.hidden-item:checked ~ .checkmark {
    background: #b29eca;
}

/*.rtr:focus ~ .checkmark {*/
/*    background: #b29eca;*/
/*}*/

