@font-face {
    font-family: FuturisXC;
    src: url(FuturisXC.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "FuturisXC", sans-serif;
    box-sizing: border-box;
    background-color: rgb(236, 236, 236);
    display: flex;
    font-size: calc(16 / 1920 * 100vw);
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
}

a, p {
    color: #000;
    margin: 0;
}

a:hover {
    text-decoration: none;
    color: #000;
}

button:focus {
    outline: none;
}

.content {
    height: 100vh;
    padding-top: calc(100 / 1920 * 100vw);
    padding-right: calc(100 / 1920 * 100vw);
    padding-left: calc(100 / 1920 * 100vw);
}

.main-header {
    display: flex;
    justify-content: space-between;
    height: calc(50 / 1920 * 100vw);
    position: fixed;
    z-index: 300;
    top: calc(20 / 1920 * 100vw);
    left: calc(100 / 1920 * 100vw);
    right: calc(100 / 1920 * 100vw);
}

.main-header .sections {
    height: calc(50 / 1920 * 100vw);
    /*margin: 0;*/
    display: flex;
    /*width: 33%;*/
    align-items: flex-end;
    color: #fff;
}

.main-header .section {
    /*font-size: calc(16 / 1920 * 100vw);;*/
    display: inline-block;
    /*text-decoration: none;*/
    margin-right: calc(30 / 1920 * 100vw);
    color: inherit;
}

.main-header .section:hover {
    opacity: 0.5;
}

.main-header .logo {
    /*width: 33%;*/
    height: calc(50 / 1920 * 100vw);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.main-header .logo img {
    /*background-image: url("images/logo.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: calc(65 / 1920 * 100vw) calc(50 / 1920 * 100vw);*/
    height: 100%;
    object-fit: contain;
    /*margin: 0;*/
}

.main-header .menu-btn {
    width: calc(35 / 1920 * 100vw);
    height: calc(25 / 1920 * 100vw);
    border: none;
    background: transparent;
    /*padding: 0;*/
    cursor: pointer;
    /*margin: 0;*/
    align-self: flex-end;
}

.main-header .menu-btn:focus {
    outline: none;
}

.main-header .menu-btn__bar {
    width: 100%;
    height: calc(3 / 1920 * 100vw);;
    display: block;
    background: #fff;
    margin-bottom: calc(8 / 1920 * 100vw);
}

.main-header .menu-btn__line2 {
    width: 71.4%;
    margin-left:auto;
    margin-right:0;
}

.main-header .menu-btn__line3 {
    width: 85.7%;
    margin-left:auto;
    margin-right:0;
}

.main-header .menu-btn:hover .menu-btn__line2,
.main-header .menu-btn:hover .menu-btn__line3 {
    width: 100%;
}

.arrow-left,
.arrow-right {
    width: calc(46 / 1920 * 100vw);
    /*position: absolute;*/
    /*padding: 0;*/
    border: none;
    background: transparent;
    /*cursor: pointer;*/
    z-index: 200;
}

.arrow-left img,
.arrow-right img {
    width: 100%;
}

.section-title {
    margin-top: calc(30 / 1920 * 100vw);
    margin-bottom: 0;
    line-height: 1.1;
    font-size: calc(200 / 1920 * 100vw);
    /*font-weight: normal;*/
    opacity: 0.1;
    letter-spacing: calc(-9 / 1920 * 100vw);
}

.sub-title{
    display: block;
    position: absolute;
    top: calc(225 / 1920 * 100vw);
    left: calc(222 / 1920 * 100vw);
    font-size: calc(48 / 1920 * 100vw);
    /*font-weight: normal;*/
    z-index: 1000;
}

.sub-title span{
    color: #b4c85a;
}

.text-decor {
    display: inline-block;
    width: calc(100 / 1920 * 100vw);
    height: calc(3 / 1920 * 100vw);
    background: #b4c85a;
}

.input-container {
    width: 100%;
    margin-bottom: calc(15 / 1920 * 100vw);
}

.form-input {
    border: none;
    background: transparent;
    border-bottom: calc(3 / 1920 * 100vw) solid black;
    width: 100%;
    height: calc(60 / 1920 * 100vw);
    font-size: calc(16 / 1920 * 100vw);
}

.input-left {
    padding-right: calc(20 / 1920 * 100vw);
}

.input-right {
    padding-left: calc(20 / 1920 * 100vw);
}

.form-input:focus {
    outline: none;
}

/*#contacts-section .input-container:last-of-type {*/
/*    width: 100%;*/
/*    margin-top: calc(50 / 1920 * 100vw);*/
/*}*/

.input-container:last-of-type .form-input {
    padding-right: calc(50 / 1920 * 100vw);
}

.form-input::placeholder {
    color: #000;
    font-size: calc(16 / 1920 * 100vw);
}

.go-right {
    position: absolute;
    background: transparent;
    border: none;
    width: calc(46 / 1920 * 100vw);
    bottom: 0;
    right: 0;
}

.go-right img {
    width: 100%;
}

#slider-section {
    /*height: 100vh;*/
}

#slider-section .section-header {
    width: 100%;
    background: rgb(44, 44, 44);
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
}

#slider-section .slider {
    height: calc(100vh - calc(100 / 1920 * 100vw));
    background-color: rgb(236, 236, 236);
    position: relative;
    top: auto;
}

#slider-section .slide {
    height: 100%;
    position: relative;
    animation-name: fade;
    animation-duration: 2s;
    overflow: hidden;
}

#slider-section .slide-title {
    font-size: calc(200 / 1920 * 100vw);
    color: #000;
    position: absolute;
    left: calc(112 / 1920 * 100vw);
    /*top: calc(50% - calc(130 / 1920 * 100vw));*/
    top: calc(50% - (170 / 1920 * 100vw));
    z-index: 2;
}

#slider-section .slide-title:before,
#slider-section .slide-title:after {
    content: "";
    background: rgb(0, 0, 0);
    width: calc(175 / 1920 * 100vw);
    height: calc(3 / 1920 * 100vw);
    position: absolute;
    bottom: calc(-75 / 1920 * 100vw);
    left: calc(7 / 1920 * 100vw);
}

#slider-section .slide-title:after {
    bottom: calc(-40 / 1920 * 100vw);
    left: calc(157 / 1920 * 100vw);
    width: calc(390 / 1920 * 100vw);
}

#slider-section .title-design {
    left: calc(120 / 1920 * 100vw);
}

#slider-section .title-design:before {
   left: 0;
}

#slider-section .title-design:after {
    width: calc(185 / 1920 * 100vw);
    left: calc(150 / 1920 * 100vw);
}

#slider-section .title-promotion:after {
    width: calc(325 / 1920 * 100vw);
}

#slider-section .slide-image {
    width: 100%;
    display: inline-block;
    height: 100%;
    /*float: right;*/
    position: relative;
}

#slider-section .slide-image img {
    display: inline-block;
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    z-index: 0;
    width: 50.5%;
    float: right;
    height: 100%;
    object-fit: contain;
    margin-right: calc(-10 / 1920 * 100vw);
}

#slider-section .slide-image img[src*="tiger"] {
    width: 63%;
    margin-right: calc(-90 / 1920 * 100vw);
    margin-top: calc(30 / 1920 * 100vw);
}

#slider-section .slide-image img[src*="elephant"] {
    width: 65.5%;
    /*height: 105%;*/
    margin-right: calc(-25 / 1920 * 100vw);
    margin-top: calc(25 / 1920 * 100vw);
}


#slider-section .slide-text {
    font-size: calc(30 / 1920 * 100vw);
    /*font-weight: bold;*/
    color: #000;
    position: absolute;
    left: calc(120 / 1920 * 100vw);
    top: calc(50% - calc(170 / 1920 * 100vw));
    z-index: 2;
}

#slider-section .slogan {
    display: inline-block;
}

#slider-section .line1 {
    background: #000;
    width: calc(3 / 1920 * 100vw);
    height: calc(3 / 1920 * 100vw);
    margin-left: calc(7 / 1920 * 100vw);
    margin-right: 0;
    animation-name: draw;
    animation-duration: 2s;
    animation-delay: 1s;
}

/*.slider button {*/
/*    position: absolute;*/
/*    !*padding: 0;*!*/
/*    border: none;*/
/*    background: transparent;*/
/*    !*cursor: pointer;*!*/
/*    z-index: 200;*/
/*}*/


/*.slider button img {*/
/*    width: 100%;*/
/*    margin: 0;*/
/*}*/

/*.arr-left {*/
/*    top: calc(100 / 1920 * 100vw);*/
/*    width: calc(46 / 1920 * 100vw);*/
/*    left: calc(120 / 1920 * 100vw);*/
/*}*/

/*.arr-right {*/
/*    top: calc(100 / 1920 * 100vw);*/
/*    width: calc(46 / 1920 * 100vw);*/
/*    left: calc(195 / 1920 * 100vw);*/
/*}*/


#slider-section .arrow-left {
    top: calc(95 / 1920 * 100vw);
    left: calc(120 / 1920 * 100vw);
    position: absolute;
}

#slider-section .arrow-right {
    top: calc(95 / 1920 * 100vw);
    left: calc(195 / 1920 * 100vw);
    position: absolute;
}



#slider-section .arrow-down {
    position: absolute;
    border: none;
    background: transparent;
    z-index: 200;
    height: calc(80 / 1920 * 100vw);
    bottom: calc(20 / 1920 * 100vw);
    left: calc(50% - (calc(25 / 1920 * 100vw)) / 2);
}

#slider-section .arrow-down img{
    height: 100%;
}

#slider-section .slide-number {
    width: calc(120 / 1920 * 100vw);
    height: calc(120 / 1920 * 100vw);
    position: absolute;
    background: #000;
    color: white;
    top: calc(50 / 1920 * 100vw);
    left: calc(-60 / 1920 * 100vw);
    font-size: calc(60 / 1920 * 100vw);
    text-align: center;
    z-index: 200;
}

#slider-section .slide-number span {
    display: inline-block;
    line-height: calc(120 / 1920 * 100vw);
}

/*.slide-decoration {*/
/*    background: rgb(0, 0, 0);*/
/*    width: calc(175 / 1920 * 100vw);*/
/*    height: calc(3 / 1920 * 100vw);*/
/*    position: absolute;*/
/*    bottom: calc(295 / 1920 * 100vw);*/
/*    left: calc(120 / 1920 * 100vw);*/
/*}*/

/*.decoration-line1 {*/
/*    bottom: calc(325 / 1920 * 100vw);*/
/*    left: calc(270 / 1920 * 100vw);*/
/*    width: calc(390 / 1920 * 100vw);*/
/*}*/

/*.static-line-container {*/
/*    position: absolute;*/
/*    top: calc(270 / 1920 * 100vw);*/
/*    left: 0;*/
/*    width: calc(100 / 1920 * 100vw);*/
/*    !*height: 100%;*!*/
/*    bottom: calc(0 / 1920 * 100vw);*/
/*    !*height: calc(170 / 1080 * 100vh);*!*/
/*    !*background: white;*!*/
/*    z-index: 100;*/
/*    padding-top: calc(40 / 1920 * 100vw);*/
/*    padding-bottom: calc(50 / 1920 * 100vw);*/
/*}*/

#slider-section .static-line1 {
    position: absolute;
    top: calc(313 / 1920 * 100vw);
    left: calc(60 / 1920 * 100vw);
    width: calc(2 / 1920 * 100vw);
    bottom: calc(50 / 1920 * 100vw);
    background: white;
    z-index: 100;
}

#slider-section .static-line2 {
    position: absolute;
    top: calc(285 / 1920 * 100vw);
    right: calc(60 / 1920 * 100vw);
    width: calc(2 / 1920 * 100vw);
    bottom: calc(175 / 1920 * 100vw);
    background: white;
    z-index: 100;
}

#slider-section .slide-info {
    position: absolute;
    font-size: calc(16 / 1920 * 100vw);
    /*top: calc(50% + 100 / 1920 * 100vw);*/
    /*bottom: calc(165 / 1920 * 100vw);*/
    bottom: 24%;
    right: calc(45 / 1920 * 100vw);

}

#slider-section .slide-info__name {
    display: block;
    writing-mode: vertical-rl;
}

#slider-section .slide-info__line {
    width: calc(20 / 1920 * 100vw);
    height: calc(3 / 1920 * 100vw);
    background: #000;
    margin: calc(40 / 1920 * 100vw) 0;
}

#slider-section .slide-info__number {
    writing-mode: horizontal-tb;
    display: block;
}

.menu {
    /*box-sizing: border-box;*/
    display: none;
    padding: calc(100 / 1920 * 100vw);
    position: absolute;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgb(44, 44, 44);
    color: rgb(236, 236, 236);
    flex-direction: column;
    flex-wrap: wrap;
}

.close-icon {
    position: absolute;
    top: calc(45 / 1920 * 100vw);
    right: calc(100 / 1920 * 100vw);
    z-index: 220;
    width: calc(35 / 1920 * 100vw);
    cursor: pointer;
}

.close-icon img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-title {
    font-size: calc(200 / 1920 * 100vw);
    color: rgb(236, 236, 236);
    /*font-weight: normal;*/
}

.menu-title span {
    color: #aac850;
}

.menu-content {
    display: flex;
    margin-top: calc(150 / 1920 * 100vw);
}

.menu-services{
    font-size: calc(48 / 1920 * 100vw);
    width: calc(725 / 1920 * 100vw);
    padding: 0;
}

.menu-services ul{
    width: 100%;
    padding: 0;
}

.menu li {
    list-style: none;
    font-weight: lighter;
    margin-bottom: calc(30 / 1920 * 100vw);
    cursor: pointer;
}

.menu-services  li{
    opacity: 0.5;
}

.menu-services-item {
    opacity: 1 !important;
    text-decoration: underline;
}

.menu-arrows {
    margin-left: calc(60 / 1920 * 100vw);
    margin-top: calc(5 / 1920 * 100vw);
}

.menu-arrow {
    cursor: pointer;
    display: block;
    margin-bottom: calc(60 / 1920 * 100vw);
    width: calc(15 / 1920 * 100vw);
}

.menu-arrow img{
    width: 100%;
}

.menu-sub {
    font-size: calc(24 / 1920 * 100vw);
    margin-left: calc(150 / 1920 * 100vw);
}

/*div [id *= "section"] {*/
/*    padding-top: calc(100 / 1920 * 100vw);*/
/*    padding-right: calc(100 / 1920 * 100vw);*/
/*    padding-left: calc(100 / 1920 * 100vw);*/
/*}*/

#about-section {
    position: relative;
    padding-right: 0;
}

#about-section .section-title,
#contacts-section .section-title {
    margin-left: calc(-12 / 1920 * 100vw);
}

#about-section .sub-title{
    /*top: calc(225 / 1920 * 100vw);*/
    /*left: calc(220 / 1920 * 100vw);*/
}


#about-section .text-decor {
    /*display: inline-block;*/
    /*width: calc(100 / 1920 * 100vw);*/
    /*height: calc(3 / 1920 * 100vw);*/
    /*background: #b4c85a;*/
    margin-top: calc(30 / 1920 * 100vw);
    vertical-align: top;
}

#about-section .about-text {
    font-size: calc(16 / 1920 * 100vw);
    /*font-weight: normal;*/
    display: inline-block;
    width: 48%;
    /*line-height: 2rem;*/
    line-height: 2.5;
    margin-top: calc(10 / 1920 * 100vw);
    margin-left: calc(10 / 1920 * 100vw);
}

#about-section .icons-container {
    margin-top: calc(110 / 1920 * 100vw);
    display: flex;
    width: 100%;
    height: calc(100vh - calc(550 / 1920 * 100vw));
    justify-content: space-between;
}

#about-section .icon {
    max-width: 33.333%;
    flex: 0 0 33.333%;
    position: relative;
}

#about-section .icon img {
    width: calc(210 / 1920 * 100vw);
    z-index: 10;
    position: relative;
}

#about-section .icon svg {
    height: calc(250 / 1920 * 100vw);
    position: absolute;
    top: calc(12 / 1920 * 100vw);
    left: calc(97 / 1920 * 100vw);
}

#about-section .icon-1 svg {
    left: calc(98 / 1920 * 100vw);
}

#about-section .icon-2 svg {
    left: calc(49 / 1920 * 100vw);
}

#about-section .icon-3 svg {
    left: calc(108 / 1920 * 100vw);
}

#about-section .icon div {
    display: inline-block;
    vertical-align: top;
    background: rgb(236, 236, 236);
    margin-top: calc(60 / 1920 * 100vw);
    margin-left: calc(35 / 1920 * 100vw);
    z-index: 10;
    position: relative;
}

#about-section .icon h3 {
    font-size: calc(24 / 1920 * 100vw);
    margin-bottom: calc(15 / 1920 * 100vw);
    /*text-align: center;*/
    /*font-weight: normal;*/
}

#about-section .icon ul {
    list-style: none;
}

#about-section .icon li {
    /*font-weight: normal;*/
    font-size: calc(16 / 1920 * 100vw);
    position: relative;
    line-height: 1.5;
}

#about-section .icon li::before {
    content: "";
    background: #b4c85a;
    /*font-weight: bold;*/
    display: inline-block;
    position: absolute;
    top: calc(50% - 2.5 / 1920 * 100vw);
    width: calc(5 / 1920 * 100vw);
    height: calc(5 / 1920 * 100vw);
    border-radius: 50%;
    left: calc(-15 / 1920 * 100vw);
}

#portfolio-section {
    /*width: 100vw;*/
    overflow: hidden;
    display: flex;
    position: relative;
    /*height: calc(100vh - calc(70 / 1920 * 100vw));*/
    /*height: 100vh;*/
    padding-right: 0;
    padding-left: 0;
    justify-content: space-between;
}

#portfolio-section .img-container {
    margin-top: calc(20 / 1920 * 100vw);
    width: calc((960 / 1920 * 100vw) - (100vw - 100%));
    /*height: calc((860 / 1920 * 100vw));*/
    /*flex: 0 0 50%;*/
    /*max-width: calc(50% + (100vw - 100%));*/
    position: relative;
    /*right: 17px;*/
 }

#portfolio-section .img-container img {
    width: 100%;
    /*height: 100%;*/
    object-fit: contain;
    /*width: calc(860 / 1920 * 100vw);*/
}

#portfolio-section .text-decor {
    margin-top: calc(80 / 1920 * 100vw);
}

/*.portfolio-section__decor {*/
/*    display: inline-block;*/
/*    width: calc(100 / 1920 * 100vw);*/
/*    height: calc(3 / 1920 * 100vw);*/
/*    background: #b4c85a;*/
/*    margin-top: calc(80 / 1920 * 100vw);*/
/*}*/

#portfolio-section .mini-title {
    display: inline-block;
    margin-top: calc(90 / 1920 * 100vw);
    margin-left: calc(20 / 1920 * 100vw);
    font-size: calc(24 / 1920 * 100vw);
}

#portfolio-section .technologies {
    margin-top: calc(40 / 1920 * 100vw);
    margin-left: calc(120 / 1920 * 100vw);
    font-size: calc(16 / 1920 * 100vw);
}

#portfolio-section .portfolio-title {
    /*font-weight: normal;*/
    margin-top: calc(75 / 1920 * 100vw);
    margin-left: calc(120 / 1920 * 100vw);
    font-size: calc(82 / 1920 * 100vw);
}

/*.portfolio-text {*/
/*    !*padding-left: calc(100 / 1920 * 100vw);*!*/
/*}*/

#portfolio-section .description {
    padding-left: calc(100 / 1920 * 100vw);
}

#portfolio-section .description-text {
    margin-top: calc(40 / 1920 * 100vw);
    margin-left: calc(120 / 1920 * 100vw);
    font-size: calc(24 / 1920 * 100vw);
    width: calc(400 / 1920 * 100vw);
    line-height: 1.5;
}

.go-btn {
    text-align: left;
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;

}
.go-btn span{
    display: inline-block;
}

.go-btn img{
    margin-left: calc(10 / 1920 * 100vw);
    width: calc(46 / 1920 * 100vw);
    display: inline-block;

}

#portfolio-section .go-btn {
    /*width: 40%;*/
    /*text-align: left;*/
    /*border: none;*/
    /*background: transparent;*/
    /*margin-top: calc(340 / 1920 * 100vw);*/
    margin-left: calc(120 / 1920 * 100vw);
    /*cursor: pointer;*/
    /*position: absolute;*/
    bottom: calc(100 / 1920 * 100vw);
    right: auto;

}
#portfolio-section .go-btn span{
    /*display: inline-block;*/
    font-size: calc(24 / 1920 * 100vw);

}

#portfolio-section .go-btn img{
    margin-left: calc(30 / 1920 * 100vw);
    width: calc(35 / 1920 * 100vw);
    /*display: inline-block;*/

}

#portfolio-section .portfolio-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: calc(24 / 1920 * 100vw);
    line-height: 2.8;
    justify-content: center;
    height: 100vh;
    right: calc(60 / 1920 * 100vw);
    top: 0;
    text-transform: uppercase;
}

#portfolio-section .portfolio-nav a {
    position: relative;
}

#portfolio-section .portfolio-nav a.active:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
    width: calc(55 / 1920 * 100vw);
    height: calc(3 / 1920 * 100vw);
    right: calc(-60 / 1920 * 100vw);

}

#team-section {
    position: relative;
}

/*#team-section h1{*/
/*    margin-top: calc(40 / 1920 * 100vw);*/
/*    !*margin-left: -0.4rem;*!*/
/*    font-size: calc(200 / 1920 * 100vw);*/
/*    font-weight: normal;*/
/*    opacity: 0.1;*/
/*    letter-spacing: calc(-9 / 1920 * 100vw);*/
/*}*/

/*#team-section h2{*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: calc(248 / 1920 * 100vw);*/
/*    left: calc(230 / 1920 * 100vw);*/
/*    font-size: calc(48 / 1920 * 100vw);*/
/*    font-weight: normal;*/
/*    z-index: 1000;*/
/*}*/

/*#team-section h2 span{*/
/*    color: #b4c85a;*/
/*}*/

#team-section .team-carousel {
    display: flex !important;
    width: calc(1270 / 1920 * 100vw);
    margin-top: calc(90 / 1920 * 100vw);
}

#team-section .team-carousel .owl-nav {
    display: flex;
    width: calc(480 / 1920 * 100vw);
    margin-right: calc(-120 / 1920 * 100vw);
    align-items: flex-end;
    justify-content: space-between;
}

#team-section .team-carousel .arrow-right,
#team-section .team-carousel .arrow-left {
    margin-bottom: calc(-10 / 1920 * 100vw);
}

/*.team-carousel .owl-nav button:focus {*/
/*    outline: none;*/
/*}*/

#team-section .person {
    display: flex;
    /*width: calc(480 / 1920 * 100vw);*/
    margin-right: calc(150 / 1920 * 100vw);
}



#team-section .person-info {
    /*display: inline;*/
    float: left;
    display: flex;

    flex-wrap: wrap;
    align-items: center;
    /*transform: rotate(270deg) translate(calc(-50% + 35 / 1920 * 100vw));*/
    transform: rotate(270deg) translate(calc(-100%));
    transform-origin: left top;
    height: calc(70 / 1920 * 100vw);
    width: calc(360 / 1920 * 100vw);
    /*position: absolute;*/
    /*top: 0;*/
    /*left: calc(640 / 1920 * 100vw);*/
    /*width: 30%;*/
}

/*.person-info:first-of-type {*/
/*    left: calc(-50 / 1920 * 100vw);*/
/*}*/

#team-section .person-info .name {
    font-size: calc(24 / 1920 * 100vw);
    /*margin-right: calc(10 / 1920 * 100vw);*/
    /*display: inline-block;*/
}

#team-section .person-info .job {
    font-size: calc(16 / 1920 * 100vw);
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
    top: calc(-5 / 1920 * 100vw);
    position: relative;
}

#team-section .person-info__decor {
    /*width: calc(225 / 1920 * 100vw);*/
    height: calc(3 / 1920 * 100vw);
    /*width: 100%;*/
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    margin: 0 calc(10 / 1920 * 100vw);
    background: #b4c85a;
    /*display: inline-block;*/
}

/*.team-section__content {*/
/*    width: 80%;*/
/*    display: flex;*/
/*    margin-top: calc(100 / 1920 * 100vw);*/
/*    position: relative;*/
/*    justify-content: space-around;*/
/*}*/



#team-section .photo {
    width: calc(360 / 1920 * 100vw);
    align-self: flex-end;
    position: relative;
    margin-left: calc(-235 / 1920 * 100vw);
}

#team-section .photo img {
    width: 100%;
}

#team-section .photo div {
    position: absolute;
    width: 75%;
    height: 25%;
    background: #000;
    right: 0;
    top: 25%;
    color: #fff;
    padding-left: 8%;
    cursor: pointer;
}

#team-section .photo div span {
    font-size: calc(16 / 1920 * 100vw);;
    display: inline-block;
    margin: 12% auto;
    color: inherit;
}



/*.team-section__btns{*/
/*    align-self: flex-end;*/
/*}*/

/*.team-section__btns button {*/
/*    border: none;*/
/*    background: transparent;*/
/*    width: calc(55 / 1920 * 100vw);*/
/*    cursor: pointer;*/
/*}*/

/*.team-section__btns img {*/
/*    width: 100%;*/
/*}*/

/*.team-section {*/
/*    display: flex;*/
/*    align-content: flex-end;*/
/*}*/

#contacts-section {
    position: relative;
    /*height: calc(100vh - calc(110 / 1920 * 100vw));*/
}

#contacts-section .section-title{
    margin-left: calc(-12 / 1920 * 100vw);
}

/*#contacts-section h2{*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: calc(248 / 1920 * 100vw);*/
/*    left: calc(230 / 1920 * 100vw);*/
/*    font-size: calc(48 / 1920 * 100vw);*/
/*    font-weight: normal;*/
/*    z-index: 1000;*/
/*}*/

/*.contacts-section__decor {*/
/*    display: inline-block;*/
/*    width: calc(80 / 1920 * 100vw);*/
/*    height: calc(3 / 1920 * 100vw);*/
/*    background: #b4c85a;*/
/*    !*margin-top: calc(50 / 1920 * 100vw);*!*/
/*}*/

#contacts-section .contacts-content {
    width: calc(860 / 1920 * 100vw);
    font-size: calc(24 / 1920 * 100vw);
}

#contacts-section .text-decor {
    width: calc(80 / 1920 * 100vw);
}

#contacts-section .mini-title {
    display: inline-block;
    margin-left: calc(35 / 1920 * 100vw);
    /*font-size: calc(24 / 1920 * 100vw);*/
}

#contacts-section .contacts-info {
    display: flex;
    justify-content: space-between;
    padding-left: calc(120 / 1920 * 100vw);
    width: 100%;
    margin-top: calc(90 / 1920 * 100vw);
    margin-bottom: calc(140 / 1920 * 100vw);
    line-height: 1.8;
}

/*#contacts-section .mail {*/
/*    !*text-align: right;*!*/
/*}*/

/*.contacts-info p{*/
/*    line-height: 2rem;*/
/*    width: 30%;*/
/*}*/

#contacts-section .form-data {
    margin-top: calc(25 / 1920 * 100vw);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#contacts-section .input-container {
    width: 50%;
    margin-bottom: 0;
}

/*.form-input {*/
/*    !*display: inline-block;*!*/
/*    border: none;*/
/*    background: transparent;*/
/*    border-bottom: calc(3 / 1920 * 100vw) solid black;*/
/*    width: 100%;*/
/*    !*margin-right: calc(40 / 1920 * 100vw);*!*/
/*    height: calc(60 / 1920 * 100vw);*/
/*    font-size: calc(16 / 1920 * 100vw);*/
/*    !*font-weight: normal;*!*/
/*}*/

/*.input-left {*/
/*    padding-right: calc(20 / 1920 * 100vw);*/
/*}*/

/*.input-right {*/
/*    padding-left: calc(20 / 1920 * 100vw);*/
/*}*/

/*.form-input:focus {*/
/*    outline: none;*/
/*}*/

#contacts-section .input-container:last-of-type {
    width: 100%;
    margin-top: calc(45 / 1920 * 100vw);
}

/*#contacts-section .input-container:last-of-type .form-input {*/
/*    padding-right: calc(50 / 1920 * 100vw);*/
/*}*/

/*.form-input::placeholder {*/
/*    color: #000;*/
/*    font-size: calc(16 / 1920 * 100vw);*/
/*}*/

/*#contacts-section .go-right {*/
/*    position: absolute;*/
/*    background: transparent;*/
/*    border: none;*/
/*    width: calc(46 / 1920 * 100vw);*/
/*    bottom: 0;*/
/*    right: 0;*/
/*}*/

/*#contacts-section .go-right img {*/
/*    width: 100%;*/
/*}*/

/*#contacts-section a {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/

.social {
    writing-mode: vertical-rl;
    position: absolute;
    /*right: 20%;*/
    /*top: 20%;*/
    /*height: 100vh;*/
    right: 0;
    top: 0;
    width: calc(860 / 1920 * 100vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: calc(315 / 1920 * 100vw) 0;*/
    font-size: calc(20 / 1920 * 100vw);
}

#contacts-section .social {
    /*writing-mode: vertical-rl;*/
    /*position: absolute;*/
    /*right: 20%;*/
    /*top: 20%;*/
    height: 100vh;
    /*right: 0;*/
    /*top: 0;*/
    /*width: calc(860 / 1920 * 100vw);*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    padding: calc(315 / 1920 * 100vw) 0;
    /*font-size: calc(20 / 1920 * 100vw);*/
}

/*.social span {*/
/*    !*margin-top: 5rem;*!*/
/*}*/

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}

@keyframes draw {
    0% {
        width: calc(3 / 1920 * 100vw);
        margin-right: 0;
    }
    50% {
        width: calc(50 / 1920 * 100vw);
        margin-right: calc(20 / 1920 * 100vw);
    }
    100% {
        width: calc(50 / 1920 * 100vw);
        margin-right: calc(20 / 1920 * 100vw);
    }
}

.fff {
    background: red;
}

.brief-color {
    background: #b29eca;
}
