@font-face {
    font-family: FuturisXC;
    src: url(FuturisXC.otf);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
}

* {
    font-family: "FuturisXC", sans-serif;
    margin: 0;
}

.slider-section__header {
    width: 100%;
    background: rgb(44, 44, 44);
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
}
.main-header {
    display: flex;
    justify-content: space-between;
    height: calc(50 / 1080 * 100vh);
    position: fixed;
    z-index: 300;
    top: calc(20 / 1080 * 100vh);
    left: calc(100 / 1920 * 100vw);
    right: calc(100 / 1920 * 100vw);
}
.sections {
    height: calc(50 / 1080 * 100vh);;
    margin: 0;
    display: flex;
    width: 33%;
    align-items: flex-end;
    color: white;
}

.section {
    font-size: calc(16 / 1920 * 100vw);;
    display: inline-block;
    text-decoration: none;
    margin-right: calc(30 / 1920 * 100vw);
    color: inherit;
}

.section:hover {
    opacity: 0.5;
}

.logo {
    width: 33%;
    height: calc(50 / 1080 * 100vh);;
}

.logo div {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: calc(65 / 1080 * 100vh) calc(50 / 1080 * 100vh);
    height: calc(50 / 1080 * 100vh);
    margin: 0;
}

.menu-btn {
    width: calc(35 / 1920 * 100vw);
    height: calc(25 / 1920 * 100vw);
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    margin: 0;
    align-self: flex-end;
}

.menu-btn:focus {
    outline: none;
}

.menu-btn__bar {
    width: 100%;
    height: calc(3 / 1920 * 100vw);;
    display: block;
    background: white;
    margin-bottom: calc(8 / 1920 * 100vw);;
}

.menu-btn__line2 {
    width: 71.4%;
    margin-left:auto;
    margin-right:0;
}

.menu-btn__line3 {
    width: 85.7%;
    margin-left:auto;
    margin-right:0;
}

.menu-btn:hover .menu-btn__line2, .menu-btn:hover .menu-btn__line3{
    width: 100%;
}

#slider-section {
    height: 100vh;
}

.slider {
    height: calc(100vh - calc(100 / 1920 * 100vw));
    background-color: rgb(236, 236, 236);
    position: relative;
    top: auto;

}

.slide {
    height: 100%;
    position: relative;
    animation-name: fade;
    animation-duration: 2s;
    overflow: hidden;
}

.slide-title {
    font-size: calc(200 / 1920 * 100vw);
    color: rgb(0, 0, 0);
    position: absolute;
    left: calc(120 / 1920 * 100vw);
    top: calc(50% - calc(130 / 1080 * 100vh));
    z-index: 2;
}

.slide-image {
    width: 51.1%;
    display: inline-block;
    height: 98.9%;
    float: right;
    position: relative;
}

.slide-image img {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
}

.slide-text {
    font-size: calc(30 / 1920 * 100vw);
    font-weight: bold;
    color: rgb(0, 0, 0);
    position: absolute;
    left: calc(120 / 1920 * 100vw);
    top: calc(50% - calc(130 / 1080 * 100vh));
    z-index: 2;
}

.slogan {
    display: inline-block;
}

.line1 {
    background: rgb(0, 0, 0);
    width: calc(3 / 1920 * 100vw);
    height: calc(3 / 1920 * 100vw);
    margin-left: calc(7 / 1920 * 100vw);
    margin-right: 0;
    animation-name: draw;
    animation-duration: 2s;
    animation-delay: 1s;
}

.slider button {
    position: absolute;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 200;
}

.slider button:focus {
    outline: none;
}

.slider button img {
    width: 100%;
    margin: 0;
}

.arr-left {
    top: calc(100 / 1920 * 100vw);
    width: calc(46 / 1920 * 100vw);
    left: calc(120 / 1920 * 100vw);
}

.arr-right {
    top: calc(100 / 1920 * 100vw);
    width: calc(46 / 1920 * 100vw);
    left: calc(195 / 1920 * 100vw);
}

.go-down {
    width: calc(25 / 1920 * 100vw);
    bottom: calc(20 / 1920 * 100vw);
    left: calc(50% - (calc(25 / 1920 * 100vw)) / 2);
}

.go-down img{
    width: 100%;
}

.slide-number {
    width: calc(120 / 1920 * 100vw);
    height: calc(120 / 1920 * 100vw);
    position: absolute;
    background: rgb(0, 0, 0);
    color: white;
    top: calc(50 / 1080 * 100vh);
    left: calc(-60 / 1920 * 100vw);
    font-size: calc(60 / 1920 * 100vw);
    text-align: center;
    z-index: 200;
}

.slide-number span {
    display: inline-block;
    line-height: calc(120 / 1920 * 100vw);
}

.slide-decoration {
    background: rgb(0, 0, 0);
    width: calc(175 / 1920 * 100vw);
    height: calc(3 / 1920 * 100vw);
    position: absolute;
    bottom: calc(295 / 1080 * 100vh);
    left: calc(120 / 1920 * 100vw);
}

.decoration-line1 {
    bottom: calc(325 / 1080 * 100vh);
    left: calc(270 / 1920 * 100vw);
    width: calc(390 / 1920 * 100vw);
}

.static-line1 {
    position: absolute;
    top: calc(315 / 1080 * 100vh);
    left: calc(60 / 1920 * 100vw);
    width: calc(2 / 1920 * 100vw);;
    height: calc(170 / 1080 * 100vh);
    background: white;
    z-index: 100;
}

.static-line2 {
    position: absolute;
    top: calc(285 / 1920 * 100vw);;
    right: calc(60 / 1920 * 100vw);;
    width: calc(2 / 1920 * 100vw);
    height: calc(70 / 1080 * 100vh);
    background: white;
    z-index: 100;
}

.slide-info {
    position: absolute;
    font-size: calc(16 / 1920 * 100vw);
    bottom: calc(165 / 1920 * 100vw);
    right: calc(45 / 1920 * 100vw);

}

.slide-info__name {
    display: block;
    writing-mode: vertical-rl;
}

.slide-info__line {
    width: calc(20 / 1920 * 100vw);
    height: calc(3 / 1080 * 100vh);
    background: rgb(0, 0, 0);
    margin: calc(40 / 1080 * 100vh) 0;
}

.slide-info__number {
    writing-mode: horizontal-tb;
    display: block;
}

.menu {
    box-sizing: border-box;
    padding: calc(100 / 1920 * 100vw);
    display: none;
    position: absolute;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgb(44, 44, 44);
    color: rgb(236, 236, 236);
    flex-direction: column;
    flex-wrap: wrap;
}

.close-icon {
    position: absolute;
    top: calc(45 / 1080 * 100vh);
    right: calc(100 / 1920 * 100vw);
    z-index: 220;
    width: calc(35 / 1920 * 100vw);
    cursor: pointer;
}

.close-icon img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-title {
    font-size: calc(200 / 1920 * 100vw);
    color: rgb(236, 236, 236);
    font-weight: normal;
}

.menu-title span {
    color: #aac850;
}

.menu-content {
    display: flex;
    margin-top: calc(150 / 1080 * 100vh);
}

.menu-services{
    font-size: calc(48 / 1920 * 100vw);
    width: calc(725 / 1920 * 100vw);
    padding: 0;
}

.menu-services ul{
    width: 100%;
    padding: 0;
}

.menu li {
    list-style: none;
    font-weight: lighter;
    margin-bottom: calc(30 / 1080 * 100vh);
    cursor: pointer;
}

.menu-services  li{
    opacity: 0.5;
}

.menu-services-item {
    opacity: 1 !important;
    text-decoration: underline;
}

.menu-arrows {
    margin-left: calc(60 / 1920 * 100vw);
    margin-top: calc(5 / 1920 * 100vw);
}

.menu-arrow {
    cursor: pointer;
    display: block;
    margin-bottom: calc(60 / 1920 * 100vw);
    width: calc(15 / 1920 * 100vw);
}

.menu-arrow img{
    width: 100%;
}

.menu-sub {
    font-size: calc(24 / 1920 * 100vw);
    margin-left: calc(150 / 1920 * 100vw);
}

div [id *= "section"] {
    padding-top: calc(100 / 1080 * 100vh);
    padding-right: calc(100 / 1920 * 100vw);
    padding-left: calc(100 / 1920 * 100vw);
}

#about-section {
    position: relative;
}

#about-section h1{
    margin-top: calc(40 / 1080 * 100vh);
    margin-left: -0.4rem;
    font-size: calc(200 / 1920 * 100vw);
    font-weight: normal;
    opacity: 0.1;
}

#about-section h2{
    display: block;
    position: absolute;
    top: calc(248 / 1080 * 100vh);
    left: calc(230 / 1920 * 100vw);
    font-size: calc(48 / 1920 * 100vw);
    font-weight: normal;
    z-index: 1000;
}

#about-section h2 span{
    color: #b4c85a;
}

.about-section__decor {
    display: inline-block;
    width: calc(100 / 1920 * 100vw);
    height: calc(3 / 1080 * 100vh);
    background: #b4c85a;
    margin-top: calc(30 / 1080 * 100vh);
    vertical-align: top;
}

#about-section p{
    font-size: calc(16 / 1920 * 100vw);
    font-weight: normal;
    display: inline-block;
    width: 50%;
    line-height: 2rem;
    margin-top: calc(10 / 1080 * 100vh);
    margin-left: calc(20 / 1920 * 100vw);
}

.about-section__images {
    margin-top: calc(120 / 1080 * 100vh);
    display: flex;
    width: 100%;
    height: calc(100vh - calc(550 / 1080 * 100vh));
    justify-content: space-between;
}

.about-section__image {
    width: 33%;

}

.about-section__image img {
    width: 40%;
}

.about-section__image div {
    display: inline-block;
    vertical-align: top;
    margin-top: calc(120 / 1080 * 100vh);
}

.about-section__image h3 {
    font-size: calc(24 / 1920 * 100vw);
    margin-bottom: calc(20 / 1080 * 100vh);
    text-align: center;
    font-weight: normal;
}

.about-section__image li {
    font-weight: normal;
    font-size: calc(16 / 1920 * 100vw);
}

#portfolio-section {
    display: flex;
    position: relative;
    height: calc(100vh - calc(70 / 1080 * 100vh));
    padding-right: 0;
    justify-content: space-between;
}

.portfolio-section__img {
    margin-top: calc(20 / 1080 * 100vh);
     width: calc(860 / 1920 * 100vw);
 }

.portfolio-section__img img {
    width: calc(860 / 1920 * 100vw);
}

.portfolio-section__decor {
    display: inline-block;
    width: calc(100 / 1920 * 100vw);
    height: calc(3 / 1080 * 100vh);
    background: #b4c85a;
    margin-top: calc(80 / 1080 * 100vh);
}

#portfolio-section p:first-of-type {
    display: inline-block;
    margin-top: calc(80 / 1080 * 100vh);
    margin-left: calc(20 / 1920 * 100vw);
    font-size: calc(24 / 1920 * 100vw);
}
#portfolio-section p:last-of-type {
    margin-top: calc(40 / 1080 * 100vh);
    margin-left: calc(120 / 1920 * 100vw);
    font-size: calc(16 / 1920 * 100vw);
}

#portfolio-section h1 {
    font-weight: normal;
    margin-top: calc(90 / 1080 * 100vh);
    margin-left: calc(120 / 1920 * 100vw);
    font-size: calc(82 / 1920 * 100vw);
}

.portfolio-section__description--p {
    margin-top: calc(60 / 1080 * 100vh);
    margin-left: calc(120 / 1920 * 100vw);
    font-size: calc(24 / 1920 * 100vw);
    width: 45%;
    line-height: 2rem;
}

.portfolio-section__btn {
    width: 40%;
    text-align: left;
    border: none;
    background: transparent;
    margin-top: calc(300 / 1080 * 100vh);
    margin-left: calc(120 / 1920 * 100vw);
    cursor: pointer;

}
.portfolio-section__btn  span{
    display: inline-block;
    font-size: calc(24 / 1920 * 100vw);

}

.portfolio-section__btn img{
    margin-left: calc(30 / 1920 * 100vw);
    width: calc(35 / 1920 * 100vw);
    display: inline-block;

}

#team-section {
    position: relative;
    height: calc(100vh - calc(70 / 1080 * 100vh));
}

#team-section h1{
    margin-top: calc(40 / 1080 * 100vh);
    margin-left: -0.4rem;
    font-size: calc(200 / 1920 * 100vw);
    font-weight: normal;
    opacity: 0.1;
}

#team-section h2{
    display: block;
    position: absolute;
    top: calc(248 / 1080 * 100vh);
    left: calc(230 / 1920 * 100vw);
    font-size: calc(48 / 1920 * 100vw);
    font-weight: normal;
    z-index: 1000;
}

#team-section h2 span{
    color: #b4c85a;
}

.person-info {
    display: inline-block;
    transform: rotate(270deg);
    height: calc(350 / 1080 * 100vh);
    position: absolute;
    top: 0;
    left: calc(640 / 1920 * 100vw);
    width: 30%;
}

.person-info:first-of-type {
    left: calc(-50 / 1920 * 100vw);
}

.person-info p{
    font-size: calc(24 / 1920 * 100vw);;
    display: inline-block;
}

.person-info span{
    font-size: calc(16 / 1920 * 100vw);
    display: block;
}

.team-section__decor {
    width: calc(230 / 1920 * 100vw);
    height: calc(3 / 1080 * 100vh);
    background: #b4c85a;
    display: inline-block;
}

.team-section__content {
    width: 80%;
    display: flex;
    margin-top: calc(100 / 1080 * 100vh);
    position: relative;
    justify-content: space-around;
}

.team-section__image {
    width: calc(360 / 1920 * 100vw);
    align-self: flex-end;
    position: relative;
}

.team-section__image img {
    width: 100%;
}

.team-section__image div {
    position: absolute;
    width: 75%;
    height: 25%;
    background: black;
    right: 0;
    top: 25%;
    color: white;
    padding-left: 8%;
    cursor: pointer;
}

.team-section__image p {
    font-size: calc(16 / 1920 * 100vw);;
    display: inline-block;
    margin: 12% auto;
}

.team-section__btns{
    align-self: flex-end;
}

.team-section__btns button {
    border: none;
    background: transparent;
    width: calc(55 / 1920 * 100vw);
    cursor: pointer;
}

.team-section__btns img {
    width: 100%;
}

.team-section {
    display: flex;
    align-content: flex-end;
}

#contacts-section {
    position: relative;
    height: calc(100vh - calc(110 / 1080 * 100vh));
}

#contacts-section h1{
    margin-top: calc(40 / 1080 * 100vh);
    margin-left: -0.4rem;
    font-size: calc(200 / 1920 * 100vw);
    font-weight: normal;
    opacity: 0.1;
}

#contacts-section h2{
    display: block;
    position: absolute;
    top: calc(248 / 1080 * 100vh);
    left: calc(230 / 1920 * 100vw);
    font-size: calc(48 / 1920 * 100vw);
    font-weight: normal;
    z-index: 1000;
}

.contacts-section__decor {
    display: inline-block;
    width: calc(80 / 1920 * 100vw);
    height: calc(3 / 1080 * 100vh);
    background: #b4c85a;
    margin-top: calc(50 / 1080 * 100vh);
}

#contacts-section p{
    display: inline-block;
    margin-left: calc(40 / 1920 * 100vw);
    font-size: calc(24 / 1920 * 100vw);
}

.contacts-info {
    margin-left: calc(80 / 1920 * 100vw);
    width: 100%;
    margin-top: calc(50 / 1080 * 100vh);
    margin-bottom: calc(100 / 1080 * 100vh);
}

.contacts-info p{
    line-height: 2rem;
    width: 30%;
}

.form-data {
    margin-top: calc(50 / 1080 * 100vh);
    display: block;
    position: relative;
}

input {
    display: inline-block;
    border: none;
    background: transparent;
    border-bottom: calc(2 / 1080 * 100vh) solid black;
    width: 25%;
    margin-right: calc(40 / 1080 * 100vh);
    height: calc(50 / 1080 * 100vh);
    font-size: calc(20 / 1920 * 100vw);
    font-weight: normal;
}

input:focus {
    outline: none;
}

input:last-of-type {
    width: calc(50% + calc(45 / 1920 * 100vw));
    margin-top: calc(60 / 1080 * 100vh);
}

::placeholder {
    font-weight: normal;
    color: black;
    font-size: calc(16 / 1920 * 100vw);
}

#contacts-section button {
    position: absolute;
    background: transparent;
    border: none;
    width: calc(55 / 1920 * 100vw);
    top: 80%;
    left: 50%;
}

#contacts-section button img{
    width: 100%;
}

#contacts-section a{
    text-decoration: none;
    color: black;
}

.social {
    writing-mode: vertical-rl;
    position: absolute;
    right: 20%;
    top: 20%;
}

.social span {
    margin-top: 5rem;
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}

@keyframes draw {
    0% {
        width: calc(3 / 1920 * 100vw);
        margin-right: 0;
    }
    50% {
        width: calc(50 / 1920 * 100vw);
        margin-right: calc(20 / 1920 * 100vw);
    }
    100% {
        width: calc(50 / 1920 * 100vw);
        margin-right: calc(20 / 1920 * 100vw);
    }
}

